+++
title = "Veladocs"
linkTitle = "Veladocs"
+++

{{< blocks/cover title="Welcome to Vela!" image_anchor="bottom" height="min" width="primary">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary -lavender mr-3 mb-4" href="{{< relref "/usage" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary -lavender mr-3 mb-4" href="https://github.com/go-vela">
		Check it Out <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Target's official Pipeline Automation Framework</p>
	<br>Vela is in active development and is a pre-release product. Please use at your own risk in production.<br>
	<br>Feel free to send us feedback on <a href="https://github.com/go-vela/community/issues/new">github.</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="secondary" %}}
Vela is a Pipeline Automation (CI/CD) framework built on Linux container technology written in Golang.
{{% /blocks/lead %}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fa-blog" title="Target Engineering Blog!" url="https://tech.target.com/" %}}
Hear more about other products and Target Engineering on our blog!

Follow this space for Vela updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/go-vela" %}}
Learn more about getting started in our [community](https://github.com/go-vela/community)!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join us on Slack!" url="https://gophers.slack.com/app_redirect?channel=CNRRKE8KY" %}}
Come hang out with us in the Gopher Slack Workspace!
{{% /blocks/feature %}}


{{< /blocks/section >}}
