<div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
    <div class="search -sidebar" id="search2">
        <input type="text" placeholder="Search site..." v-model="txt" @keyup="search_sidebar()" @blur="close_sidebar()" maxlength="50">
        <div class="search-results" :style="{'display': showresult?'block':'none'}">
            <a v-for="item in result" :href="item.url">{{ printf "{{ item.display }}" }}</a>
        </div>
    </div>
</div>
<script>
    let mounted_sidebar = function() {
        axios.get('{{ with .Site.GetPage "/search.md" }}{{ .Permalink }}{{ end }}')
            .then(function(response) {
                vuesearch2.bdd = response.data.results;
            })
            .catch(function(error) {
                console.log(error);
            });
    }
    let close_sidebar = function() {
        setTimeout(function() {
            vuesearch2.showresult = false;
            vuesearch2.txt = '';
        }, 300);
    }

    let search_sidebar = function() {
        // we will search when the user stopped typing for 500ms
        clearTimeout(this.timeoutID);
        this.timeoutID = setTimeout(this.dosearch_sidebar, 500);
    }

    let dosearch_sidebar = function() {
        this.result = [];
        var words = this.txt.split(' ');
        var words2 = [];
        words.forEach(function(element) {
            if (element) {
                words2.push(element);
            }
        });
        var r;
        var resultmp;
        words2.forEach(function(e) {
            r = vuesearch2.bdd.filter(p => p.content.indexOf(e.toLowerCase()) !== -1);
            if (vuesearch2.result.length === 0) {
                vuesearch2.result = r.slice();
                return;
            }
            resultmp = [];
            vuesearch2.result.forEach(function(all1) {
                r.forEach(function(all2) {
                    if (all1.url === all2.url) {
                        resultmp.push(all1);
                    }
                });
            });
            vuesearch2.result = resultmp.slice();
        });
        this.result = this.result.slice(0, 10);
        this.result = this.result.sort(function (a, b) {
            return ('' + a.display).localeCompare(b.display);
        })
        this.showresult = (this.result.length > 0);
    }
    let vuesearch2 = new Vue({
        el: '#search2',
        data: {
            txt: '',
            timeoutID: 0,
            showresult: false,
            result: {},
            bdd: []
        },
        mounted: mounted_sidebar,
        methods: {
            close_sidebar: close_sidebar,
            search_sidebar: search_sidebar,
            dosearch_sidebar: dosearch_sidebar
        }
    });
</script>